[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/GyroZepelix/init.lua.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
