[Unit]
Description=Kanata Service

[Service]
ExecStart=/usr/bin/kanata -c %h/.config/kanata/kanata.kdb
Restart=no

[Install]
WantedBy=default.target

